:root {
  @apply .light;
}

@import "tailwindcss/base";

body {
  @apply antialiased bg-primary;
  cursor: none;
}

.page-wrapper {
  cursor: none;
}

h1 {
  @apply font-bold text-primary text-xl;
}

p {
  @apply text-secondary;
}

a {
  @apply text-secondary font-semibold;
}

a:hover {
  @apply text-accent;
}

app-cursor {
  @apply border-red-800;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
